/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$green: #3f3;
$red: #d22;
$light_red: #e66;
$light-gray: #ccc;
$gray: #777;

.content_container {
    background: $light-gray;
    margin: 0 auto;
    padding: 2rem;
    width: 80%;

    box-shadow: 0px 0px 100px black;
}

body {
    background: $gray;
}

table {
    text-align: center;
    margin: 0 auto;

    td, th {
        border: 1px solid black;
        padding: 0.5rem;
    }
}

.division_title, .conference_title {
    text-align: center;
}

.last_10 {
    width: 2rem;
    height: 2rem;
    display: inline;
}

.last_10_w {background: $green;}
.last_10_l {background: $red}
.last_10_o {background: $light-red}

/* tablesort */
th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header {
    cursor:pointer;
}
th.sort-header::-moz-selection,
th.sort-header::selection {
    background:transparent;
}
table th.sort-header:after {
    content:'';
    float:right;
    margin-top:7px;
    border-width:0 4px 4px;
    border-style:solid;
    border-color:#404040 transparent;
    visibility:hidden;
}
table th.sort-header:hover:after {
    visibility:visible;
}

table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
    visibility:visible;
    opacity:0.4;
}
table th.sort-up:after {
    border-bottom:none;
    border-width:4px 4px 0;
}