<!DOCTYPE html>
<html>
  <head>
    <title>benhl</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="content_container">
      <%= yield %>
    </div>

  </body>

  <script type="text/javascript">
    $(document).ready(function() {
      new Tablesort($('#atlantic_table')[0], {descending: true});
      new Tablesort($('#metropolitan_table')[0], {descending: true});
      new Tablesort($('#central_table')[0], {descending: true});
      new Tablesort($('#pacific_table')[0], {descending: true});
    });
  </script>

</html>
